<%- include('partials/header') %>

  <form action="/links" method="get">
    <input type="text" name="q" id="q" class="form-control" placeholder="Search links... Try docs" value="<%=query%>"
      autofocus="true" onfocus="this.select()" />
  </form>

  <% if (links.length===0) { %>
    <div class="text-center mt-3 text-muted">No links found</div>
    <% } %>
      <% links.forEach((link)=> { %>
        <div class="row mt-3 mx-0">
          <div class="card col">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">
                  <%=link.title%>
                </h3>
              </div>
              <a href="<%=link.href%>" target="_blank" id="href">
                <%=link.href%>
              </a>
            </div>
          </div>
        </div>
        <% }) %>
          <%- include('partials/footer') %>